[user]
	name = lironl
	email = liron.langer@@gmail.com
[core]
	autocrlf = false
[gui]
	recentrepo = C:/Users/lironlanger/Documents/gilat
	recentrepo = C:/Users/lironlanger/Documents/predictclean
[safe]
	directory = C:/Users/lironlanger/gilat
	directory = c:\\Users
	directory = c:\\Users\\lironlanger\\Documents\\predictclean
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
